# Astro
dist/
.astro/

# Dependencies
node_modules/

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/*/data.json
.trash/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
